<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
<head>
</head>
<body>
<div layout:fragment="content" th:class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li class="active">Dashboard</li>
        </ul>
        <!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="icon-search nav-search-icon"></i>
								</span>
            </form>
        </div>
        <!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                Dashboard
                <small>
                    <i class="icon-double-angle-right"></i>
                    overview &amp; stats
                </small>
            </h1>
        </div>
        <!-- /.page-header -->

    </div>
    <!-- /.page-content -->
</div>
<!-- /.main-content -->


<div layout:fragment="script">
    <!-- page specific plugin scripts -->


    <script src="../../../static/js/jquery-ui-1.10.3.custom.min.js"
            th:src="@{/js/jquery-ui-1.10.3.custom.min.js}"></script>
    <script src="../../../static/js/jquery.ui.touch-punch.min.js" th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
    <script src="../../../static/js/jquery.slimscroll.min.js" th:src="@{/js/jquery.slimscroll.min.js}"></script>
    <script src="../../../static/js/jquery.easy-pie-chart.min.js" th:src="@{/js/jquery.easy-pie-chart.min.js}"></script>
    <script src="../../../static/js/jquery.sparkline.min.js" th:src="@{/js/jquery.sparkline.min.js}"></script>
    <script src="../../../static/js/flot/jquery.flot.min.js" th:src="@{/js/flot/jquery.flot.min.js}"></script>
    <script src="../../../static/js/flot/jquery.flot.pie.min.js" th:src="@{/js/flot/jquery.flot.pie.min.js}"></script>
    <script src="../../../static/js/flot/jquery.flot.resize.min.js"
            th:src="@{/js/flot/jquery.flot.resize.min.js}"></script>
</div>


</body>
</html>