<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="template">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="#{label.listactivity}"></title>

    <!-- ace styles -->

    <link rel="stylesheet" th:href="@{/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-skins.min.css}"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/css/ace-ie.min.css}"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script th:src="@{/js/ace-extra.min.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script th:href="@{/js/html5shiv.js}"></script>
    <script th:href="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>

<div layout:fragment="content">

    <div th:include="common/content/breadcrumbs :: header (label1=#{label.activites}, label2=#{label.listactivity})"></div>
    <!--/.breadcrumbs-->

    <div class="page-content">

        <div th:include="common/content/pageheader :: header (label1=#{label.activites}, label2=#{label.listactivity})"></div>
        <!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-6 col-sm-3 pricing-box">
                        <div class="widget-box">
                            <div class="widget-header header-color-dark">
                                <h5 class="bigger lighter">Basic Package</h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <ul class="list-unstyled spaced2">
                                        <li>
                                            <i class="icon-ok green"></i>
                                            10 GB Disk Space
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            200 GB Bandwidth
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            100 Email Accounts
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            10 MySQL Databases
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            $10 Ad Credit
                                        </li>

                                        <li>
                                            <i class="icon-remove red"></i>
                                            Free Domain
                                        </li>
                                    </ul>

                                    <hr/>
                                    <div class="price">
                                        $5
                                        <small>/month</small>
                                    </div>
                                </div>

                                <div>
                                    <a href="#" class="btn btn-block btn-inverse">
                                        <i class="icon-shopping-cart bigger-110"></i>
                                        <span>Buy</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3 pricing-box">
                        <div class="widget-box">
                            <div class="widget-header header-color-orange">
                                <h5 class="bigger lighter">Starter Package</h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <ul class="list-unstyled spaced2">
                                        <li>
                                            <i class="icon-ok green"></i>
                                            50 GB Disk Space
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            1 TB Bandwidth
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            1000 Email Accounts
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            100 MySQL Databases
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            $25 Ad Credit
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            Free Domain
                                        </li>
                                    </ul>

                                    <hr/>
                                    <div class="price">
                                        $10
                                        <small>/month</small>
                                    </div>
                                </div>

                                <div>
                                    <a href="#" class="btn btn-block btn-warning">
                                        <i class="icon-shopping-cart bigger-110"></i>
                                        <span>Buy</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3 pricing-box">
                        <div class="widget-box">
                            <div class="widget-header header-color-blue">
                                <h5 class="bigger lighter">Business Package</h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <ul class="list-unstyled spaced2">
                                        <li>
                                            <i class="icon-ok green"></i>
                                            200 GB Disk Space
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            Unlimited Bandwidth
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            1000 Email Accounts
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            200 MySQL Databases
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            $25 Ad Credit
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            Free Domain
                                        </li>
                                    </ul>

                                    <hr/>
                                    <div class="price">
                                        $15
                                        <small>/month</small>
                                    </div>
                                </div>

                                <div>
                                    <a href="#" class="btn btn-block btn-primary">
                                        <i class="icon-shopping-cart bigger-110"></i>
                                        <span>Buy</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3 pricing-box">
                        <div class="widget-box">
                            <div class="widget-header header-color-green">
                                <h5 class="bigger lighter">Ultimate Package</h5>
                            </div>

                            <div class="widget-body">
                                <div class="widget-main">
                                    <ul class="list-unstyled spaced2">
                                        <li>
                                            <i class="icon-ok green"></i>
                                            Unlimited Space
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            Unlimited Bandwidth
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            Unlimited Email Accounts
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            Unlimited MySQL Databases
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            $50 Ad Credit
                                        </li>

                                        <li>
                                            <i class="icon-ok green"></i>
                                            2 Free Domains
                                        </li>
                                    </ul>

                                    <hr/>
                                    <div class="price">
                                        $25
                                        <small>/month</small>
                                    </div>
                                </div>

                                <div>
                                    <a href="#" class="btn btn-block btn-success">
                                        <i class="icon-shopping-cart bigger-110"></i>
                                        <span>Buy</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="script">
    <!-- page specific plugin scripts -->

    <script th:inline="javascript">
        $(document).ready(function () {
            $("#nav-activity").attr("class", "active open");
            $("#nav-activitylist").attr("class", "active");
        });
    </script>
</div>

</body>
</html>

