<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="template">
<head>
    <!-- page specific plugin styles -->
    <link rel="stylesheet" th:href="@{/css/dropzone.css}"/>
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.3.custom.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/chosen.css}"/>
    <link rel="stylesheet" th:href="@{/css/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-timepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/daterangepicker.css}"/>
    <link rel="stylesheet" th:href="@{/css/colorpicker.css}"/>

    <!-- ace styles -->

    <link rel="stylesheet" th:href="@{/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-skins.min.css}"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/css/ace-ie.min.css}"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script th:src="@{/js/ace-extra.min.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script th:href="@{/js/html5shiv.js}"></script>
    <script th:href="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<div layout:fragment="content">
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#" th:text="#{label.index}"></a>
                </li>

                <li>
                    <a href="#" th:text="#{label.adddish}"></a>
                </li>
                <li class="active" th:text="#{label.editdish}"></li>
            </ul>
            <!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="icon-search nav-search-icon"></i>
								</span>
                </form>
            </div>
            <!-- #nav-search -->
        </div>

        <div class="page-content">
            <div class="page-header">
                <h1>
                    <span th:text="#{add.title}"></span>
                    <small>
                        <i class="icon-double-angle-right"></i>
                        <span th:text="#{add.edit}"></span>
                    </small>
                </h1>
            </div>
            <!-- /.page-header -->

            <div class="alert alert-info">
                <i class="icon-hand-right"></i>

                Please note that demo server is not configured to save uploaded files, therefore you may get an
                error message.
                <button class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
            </div>

            <div class="row">
                <!-- PAGE CONTENT BEGINS -->

                <div class="col-xs-12 col-sm-6">
                    <form class="form-horizontal" role="form" method="post" th:action="@{/addDish}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-1"
                                   th:text="#{add.name}"> </label>

                            <div class="col-sm-9">
                                <input type="text" id="form-field-1" th:field="*{dish.name}"
                                       class="col-xs-10 col-sm-10"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-description"
                                   th:text="#{add.description}"></label>

                            <div class="col-sm-9">
                                <textarea maxlength="150" id="form-field-description"
                                          class="col-xs-10 col-sm-10 limited" th:field="*{dish.description}">
                                </textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-select-type"
                                   th:text="#{add.type}"></label>

                            <div class="col-sm-9">
                                <div>
                                    <select class="col-xs-10 col-sm-6 chosen-select" id="form-field-select-type">
                                        <option value="">Cold</option>
                                        <option value="AL">Hot</option>
                                        <option value="AK">Drink</option>
                                        <option value="AZ">Dessert</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="form-field-2"
                                   th:text="#{add.typeoptional}"></label>

                            <div class="col-sm-9">
                                <select multiple=""
                                        class="tag-input-style col-xs-10 col-sm-6 chosen-select"
                                        id="form-field-2" th:attr="data-placeholder=#{add.selectType}">
                                    <option value="">Cold</option>
                                    <option value="AL">Hot</option>
                                    <option value="AK">Drink</option>
                                    <option value="AZ">Dessert</option>
                                </select>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label class="col-sm-5 control-label no-padding-right" for="form-field-switch-operation"-->
                        <!--th:text="#{add.doNeedPersonalOps}"></label>-->

                        <!--<div class="col-sm-5">-->
                        <!--<label>-->
                        <!--<input type="checkbox" class="ace ace-switch ace-switch-6" name="switch-field-1"-->
                        <!--id="form-field-switch-operation"/>-->
                        <!--<span class="lbl"></span>-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class="form-group">
                            <!-- for="form-field-personalOps" -->
                            <label class="col-sm-2 control-label no-padding-right"
                                   th:text="#{add.personalOps}"></label>

                            <div class="col-sm-9">
                                <input type="text" name="tags" id="form-field-tags" value="Tag Input Control"
                                       placeholder="Enter tags ..."/>
                                <span class="help-button" data-rel="popover"
                                      th:attr="data-content=#{add.personalOpsHelpContent}" data-trigger="hover"
                                      data-placement="left"
                                      th:title="#{add.personalOpsHelpTitle}">?</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="form-field-switch-date"
                                   th:text="#{add.doNeedSetDate}"></label>

                            <div class="col-sm-5">
                                <label>
                                    <input type="checkbox" class="ace ace-switch ace-switch-6" name="switch-field-date"
                                           id="form-field-switch-date"/>
                                    <span class="lbl"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="id-date-range-picker-1"
                                   th:text="#{add.date}"></label>
                            <!--<div class="space-4"></div>-->
                            <div class="col-sm-9">
                                <div class="input-group col-xs-10 col-sm-10">
                                <span class="input-group-addon">
																		<i class="icon-calendar bigger-110"></i>
																	</span>
                                    <input type="text" id="id-date-range-picker-1" name="date-range-picker"
                                           class="form-control" th:placeholder="#{add.dateplaceholder}"
                                           disabled="disabled"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 control-label no-padding-right" for="form-field-switch-time"
                                   th:text="#{add.doNeedSetTime}"></label>

                            <div class="col-sm-5">
                                <label>
                                    <input type="checkbox" class="ace ace-switch ace-switch-6" name="switch-field-time"
                                           id="form-field-switch-time"/>
                                    <span class="lbl"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right" for="id-date-range-picker-1"
                                   th:text="#{add.date}"></label>
                            <!--<div class="space-4"></div>-->
                            <div class="col-sm-8">
                                <div class="input-group bootstrap-timepicker col-xs-10 col-sm-6">
                                    <span class="input-group-addon">
																<i class="icon-time bigger-110"></i>
															</span>

                                    <div class="bootstrap-timepicker-widget dropdown-menu">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td><a data-action="incrementHour" href="#"><i
                                                        class="icon-chevron-up"></i></a></td>
                                                <td class="separator">&nbsp;</td>
                                                <td><a data-action="incrementMinute" href="#"><i
                                                        class="icon-chevron-up"></i></a></td>
                                                <td class="separator">&nbsp;</td>
                                                <td><a data-action="incrementSecond" href="#"><i
                                                        class="icon-chevron-up"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td><input type="text" maxlength="2" class="bootstrap-timepicker-hour"
                                                           name="hour"/></td>
                                                <td class="separator">:</td>
                                                <td><input type="text" maxlength="2" class="bootstrap-timepicker-minute"
                                                           name="minute"/></td>
                                                <td class="separator">:</td>
                                                <td><input type="text" maxlength="2" class="bootstrap-timepicker-second"
                                                           name="second"/></td>
                                            </tr>
                                            <tr>
                                                <td><a data-action="decrementHour" href="#"><i
                                                        class="icon-chevron-down"></i></a></td>
                                                <td class="separator"></td>
                                                <td><a data-action="decrementMinute" href="#"><i
                                                        class="icon-chevron-down"></i></a></td>
                                                <td class="separator">&nbsp;</td>
                                                <td><a data-action="decrementSecond" href="#"><i
                                                        class="icon-chevron-down"></i></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="text" class="form-control" id="timepicker1" name="timepicker1"
                                           disabled="disabled"/>
                                </div>

                                <div class="input-group bootstrap-timepicker col-xs-10 col-sm-6">
                                    <span class="input-group-addon">
																<i class="icon-time bigger-110"></i>
															</span>

                                    <div class="bootstrap-timepicker-widget dropdown-menu">
                                        <table>
                                            <tbody>
                                            <tr>
                                                <td><a data-action="incrementHour" href="#"><i
                                                        class="icon-chevron-up"></i></a></td>
                                                <td class="separator">&nbsp;</td>
                                                <td><a data-action="incrementMinute" href="#"><i
                                                        class="icon-chevron-up"></i></a></td>
                                                <td class="separator">&nbsp;</td>
                                                <td><a data-action="incrementSecond" href="#"><i
                                                        class="icon-chevron-up"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td><input type="text" maxlength="2" class="bootstrap-timepicker-hour"
                                                           name="hour"/></td>
                                                <td class="separator">:</td>
                                                <td><input type="text" maxlength="2" class="bootstrap-timepicker-minute"
                                                           name="minute"/></td>
                                                <td class="separator">:</td>
                                                <td><input type="text" maxlength="2" class="bootstrap-timepicker-second"
                                                           name="second"/></td>
                                            </tr>
                                            <tr>
                                                <td><a data-action="decrementHour" href="#"><i
                                                        class="icon-chevron-down"></i></a></td>
                                                <td class="separator"></td>
                                                <td><a data-action="decrementMinute" href="#"><i
                                                        class="icon-chevron-down"></i></a></td>
                                                <td class="separator">&nbsp;</td>
                                                <td><a data-action="decrementSecond" href="#"><i
                                                        class="icon-chevron-down"></i></a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <input type="text" class="form-control" id="timepicker2" name="timepicker2"
                                           disabled="disabled"/>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" onclick="submit();" class="btn btn-info" th:name="save">
                                    <i class="icon-ok bigger-110"></i>
                                    <span th:text="#{add.submit}"></span>
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button type="reset" class="btn">
                                    <i class="icon-undo bigger-110"></i>
                                    <span th:text="#{add.return}"></span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2>
                        <span th:text="#{add.upload}"></span>
                    </h2>

                    <div id="dropzone">
                        <form action="//dummy.html" class="dropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple=""/>
                            </div>
                        </form>
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->
</div>

<div layout:fragment="script">
    <!-- page specific plugin scripts -->

    <!--[if lte IE 8]>
    <script src="@{/js/excanvas.min.js"></script>
    <![endif]-->

    <script th:src="@{/js/dropzone.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.10.3.custom.min.js}"></script>
    <script th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
    <script th:src="@{/js/chosen.jquery.min.js}"></script>
    <script th:src="@{/js/fuelux/fuelux.spinner.min.js}"></script>
    <script th:src="@{/js/date-time/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/js/date-time/bootstrap-timepicker.min.js}"></script>
    <script th:src="@{/js/date-time/moment.min.js}"></script>
    <script th:src="@{/js/date-time/daterangepicker.min.js}"></script>
    <script th:src="@{/js/bootstrap-colorpicker.min.js}"></script>
    <script th:src="@{/js/jquery.knob.min.js}"></script>
    <script th:src="@{/js/jquery.autosize.min.js}"></script>
    <script th:src="@{/js/jquery.inputlimiter.1.3.1.min.js}"></script>
    <script th:src="@{/js/jquery.maskedinput.min.js}"></script>
    <script th:src="@{/js/bootstrap-tag.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        Dropzone.autoDiscover = false;

        jQuery(function ($) {

            try {
                $(".dropzone").dropzone({
                    paramName: "file", // The name that will be used to transfer the file
                    maxFilesize: 0.5, // MB

                    addRemoveLinks: true,
                    dictDefaultMessage: '<span class="bigger-150 bolder"><i class="icon-caret-right red"></i> Drop files</span> to upload \
                            <span class="smaller-80 grey">(or click)</span> <br /> \
                            <i class="upload-icon icon-cloud-upload blue icon-3x"></i>'
                    ,
                    dictResponseError: 'Error while uploading file!',

                    //change the previewTemplate to use Bootstrap progress bars
                    previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"progress progress-small progress-striped active\"><div class=\"progress-bar progress-bar-success\" data-dz-uploadprogress></div></div>\n  <div class=\"dz-success-mark\"><span></span></div>\n  <div class=\"dz-error-mark\"><span></span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>"
                });
            } catch (e) {
                alert('Dropzone.js does not support older browsers!');
            }

            $(".chosen-select").chosen();
            $('.date-picker').datepicker({autoclose: true}).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });
            $('input[name=date-range-picker]').daterangepicker().prev().on(ace.click_event, function () {
                $(this).next().focus();
            });
            $('#timepicker1').timepicker({
                minuteStep: 1,
                showSeconds: true,
                showMeridian: false
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $('#timepicker2').timepicker({
                minuteStep: 1,
                showSeconds: true,
                showMeridian: false
            }).next().on(ace.click_event, function () {
                $(this).prev().focus();
            });

            $('[data-rel=tooltip]').tooltip({container: 'body'});
            $('[data-rel=popover]').popover({container: 'body'});

            //we could just set the data-provide="tag" of the element inside HTML, but IE8 fails!
            var tag_input = $('#form-field-tags');
            if (!( /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase()))) {
                tag_input.tag(
                        {
                            placeholder: tag_input.attr('placeholder'),
                            //enable typeahead by specifying the source array
                            source: ace.variable_US_STATES,//defined in ace.js >> ace.enable_search_ahead
                        }
                );
            }
            else {
                //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
                tag_input.after('<textarea id="' + tag_input.attr('id') + '" name="' + tag_input.attr('name') + '" rows="3">' + tag_input.val() + '</textarea>').remove();
                //$('#form-field-tags').autosize({append: "\n"});
            }

            $('#form-field-switch-date').change(function () {
                $("#id-date-range-picker-1").attr('disabled', !$(this).is(':checked'));
            });


            $('#form-field-switch-time').change(function () {
                $("#timepicker1").attr('disabled', !$(this).is(':checked'));
                $("#timepicker2").attr('disabled', !$(this).is(':checked'));
            });

        });

        /*]]>*/
    </script>
</div>
</body>
</html>