<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="template">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>

    <!-- ace styles -->

    <link rel="stylesheet" th:href="@{/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-skins.min.css}"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/css/ace-ie.min.css}"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script th:src="@{/js/ace-extra.min.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script th:href="@{/js/html5shiv.js}"></script>
    <script th:href="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>
<div layout:fragment="content">

    <div th:include="common/content/breadcrumbs :: header (label1=#{label.dishes}, label2=#{label.listdish})"></div>
    <!--/.breadcrumbs-->

    <div class="page-content">

        <div th:include="common/content/pageheader :: header (label1=#{label.dishes}, label2=#{label.listdish})"></div>
        <!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="row-fluid">
                    <ul class="ace-thumbnails">
                        <li th:each="dish : ${dishes}">
                            <a title="Photo Title"
                               data-rel="colorbox">

                                <img th:each="file : ${dish.files}" alt="1	50x150"
                                     th:src="${file.location} + '' + ${file.name}"/>

                                <div class="tags">
													<span class="label-holder" th:each="tag : ${dish.types}">

                                                        <div th:switch="${tag.name}">
                                                            <span class="label label-info" th:case="'plat'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-danger" th:case="'dessert'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-success" th:case="'drink'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-warning" th:case="'entree'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-warning arrowed-in"
                                                                  th:case="'choix de chef'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="" th:case="'all_data'"></span>
                                                            <span class="label label-purple arrowed-in" th:case="*"
                                                                  th:text="${tag.description}"></span>
                                                        </div>
													</span>

                                </div>
                            </a>

                            <!--//TODO dishes opeartions need to be done-->
                            <div class="tools">
                                <a href="#">
                                    <i class="icon-link"></i>
                                </a>

                                <a href="#">
                                    <i class="icon-paper-clip"></i>
                                </a>

                                <a href="#">
                                    <i class="icon-pencil"></i>
                                </a>

                                <a href="#" th:id="${dish.id + '_remove'}">
                                    <i class="icon-remove red"></i>
                                </a>
                            </div>
                            <div class="center"><p th:text="${dish.name}"></p></div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="script">
    <!-- page specific plugin scripts -->

    <script th:inline="javascript">
        $(document).ready(function () {
            $("#nav-dish").attr("class", "active open");
            $("#nav-listdish").attr("class", "active");

            $("a").click(function () {
                var id = $(this).attr("id").split("_");
                console.log(id);
                switch (id[1]) {
                    case 'remove' :
                        $.ajax({
                            url: "/dish/remove",
                            type:"post",
                            data: {
                                id: id[0]
                            },
                            success: function() {
                                document.location.reload();
                            }
                        });
                }
            });
        })
    </script>
</div>

</body>
</html>

