<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="template">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>

    <!-- ace styles -->

    <link rel="stylesheet" th:href="@{/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-skins.min.css}"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/css/ace-ie.min.css}"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script th:src="@{/js/ace-extra.min.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script th:href="@{/js/html5shiv.js}"></script>
    <script th:href="@{/js/respond.min.js}"></script>
    <![endif]-->
    <style>
        .crop {
            width: 190px;
            height: 250px;
            overflow: hidden;
            position: relative;
        }
    </style>
</head>
<body>
<div layout:fragment="content">

    <div th:include="common/content/breadcrumbs :: header (label1=#{label.dishes}, label2=#{label.listdish})"></div>
    <!--/.breadcrumbs-->

    <div class="page-content">

        <div th:include="common/content/pageheader :: header (label1=#{label.dishes}, label2=#{label.listdish})"></div>
        <!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">

                            <h3 class="row header smaller lighter blue">
											<span class="col-sm-7">
												<i class="icon-th-large"></i>
												Search
											</span><!-- /span -->

											<span class="col-sm-5">
												<label class="pull-right inline">
                                                    <small class="muted">Open:</small>

                                                    <input type="checkbox" id="search-open" checked="checked"
                                                           class="ace ace-switch ace-switch-5"/>
                                                    <span class="lbl"></span>
                                                </label>
											</span><!-- /span -->
                            </h3>

                            <div id="search-champs">
                                <div id="search-type" th:if="${#lists.size(types)} != 0">
                                    <p>By Type: </p>
                                <span th:each="type : ${types}">
                                    <a th:href="@{${'/dish/type?type='+ type.description }}">
                                        <span class="label label-lg label-purple arrowed-in"
                                              th:text="${type.description}"></span>
                                    </a>
                                </span>
                                </div>

                                <div id="search-option" th:if="${#lists.size(options)} != 0">
                                    <p>By Option: </p>
                                <span th:each="option: ${options}">
                                    <a href="#">
                                        <span class="label label-lg label-purple arrowed-in"
                                              th:text="${option.name}"></span>
                                    </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <ul class="ace-thumbnails">
                        <li th:each="dish : ${currentResults}">
                            <a title="Photo Title"
                               data-rel="colorbox" th:href="@{'/dish/detail/'+${dish.id}}">

                                <div class="crop">
                                    <img th:each="file : ${dish.files}" alt="1	50x150"
                                         th:src="'/' + ${file.location} + '' + ${file.name}"
                                         onload="OnImageLoad(event);"/>
                                </div>

                                <div class="tags">
													<span class="label-holder" th:each="tag : ${dish.types}">

                                                        <div th:switch="${tag.name}">
                                                            <span class="label label-info" th:case="'plat'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-danger" th:case="'dessert'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-success" th:case="'drink'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-warning" th:case="'entree'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-warning arrowed-in"
                                                                  th:case="'choix de chef'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="" th:case="'all_data'"></span>
                                                            <span class="label label-purple arrowed-in" th:case="*"
                                                                  th:text="${tag.description}"></span>
                                                        </div>
                </span>

                                </div>
                            </a>

                            <!--//TODO dishes opeartions need to be done-->
                            <div class="tools">
                                <a th:href="@{'/dish/detail/'+${dish.id}}">
                                    <i class="icon-link"></i>
                                </a>

                                <a href="#">
                                    <i class="icon-paper-clip"></i>
                                </a>

                                <a th:href="@{'/dish/edit/'+ ${dish.id}}" th:id="${dish.id+ '_edit'}">
                                    <i class="icon-pencil"></i>
                                </a>

                                <a href="#" th:id="${dish.id + '_remove'}">
                                    <i class="icon-remove red"></i>
                                </a>
                            </div>
                            <div class="center"><p th:text="${dish.name}"></p></div>
                        </li>

                    </ul>
                </div>

                <div class="col-md-12 text-center">
                    <div class='pagination pagination-centered'>
                        <ul class="pagination">
                            <li th:class="${currentIndex == 1}? 'disabled' : ''">
                                <span th:if='${currentIndex == 1}'>← First</span>
                                <a th:if='${currentIndex != 1}'
                                   th:href="@{${'/dish/page/1'}}">← First</a>
                            </li>
                            <li th:class="${currentIndex != 1}? '' : 'disabled'">
                                <span th:if='${currentIndex == 1}'>«</span>
                                <a th:if='${currentIndex != 1}'
                                   th:href="@{${'/dish/page/'+ (currentIndex - 1)}}"
                                   title='Go to previous page'>«</a>
                            </li>

                            <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                                th:class="${item == currentIndex ? 'active' : '' }">

                                <span th:if='${item == currentIndex}' th:text='${item}'>1</span>

                                <a th:if='${item != currentIndex}'
                                   th:href="@{${'/dish/page/'+item }}">
                                    <span th:text='${item}'>1</span>
                                </a>
                            </li>

                            <li th:class="${currentIndex != currentResults.totalPages}? '' : 'disabled'">
                                <span th:if='${currentIndex == currentResults.totalPages}'>»</span>
                                <a th:if='${currentIndex != currentResults.totalPages}'
                                   th:href="@{${'/dish/page/'+(currentIndex + 1)}}" title='Go to next page'>»</a>
                            </li>
                            <li th:class="${currentIndex == currentResults.totalPages}? 'disabled' : ''">
                                <span th:if='${currentIndex == currentResults.totalPages}'>Last →</span>
                                <a th:if='${currentIndex != currentResults.totalPages}'
                                   th:href="@{${'/dish/page/'+ currentResults.totalPages}}">Last →</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="script">

    <!-- page specific plugin scripts -->

    <script th:inline="javascript">
        /*<![CDATA[*/
        jQuery(function ($) {
            $("#nav-dish").attr("class", "active open");
            $("#nav-listdish").attr("class", "active");

            $('#search-open').on('click', function () {
                //TODO need to verify open or not
                $('#search-champs').slideToggle('slow');
                console.log($(this)[0].value);
            });

            $("a").click(function () {
                var id = $(this).attr("id").split("_");
                console.log(id);
                switch (id[1]) {
                    case 'remove' :
                        $.ajax({
                            url: "/dish/remove",
                            type: "post",
                            data: {
                                id: id[0]
                            },
                            success: function () {
                                document.location.reload();
                            }
                        });
                    case 'edit' :
//                        $.ajax({
//                            url: "/dish/edit",
//                            type: "post",
//                            data: {
//                                id: id[0]
//                            },
//                            success: function() {
//
//                            }
//                        });
                }
            });
        });

        function ScaleImage(srcwidth, srcheight, targetwidth, targetheight, fLetterBox) {

            var result = {width: 0, height: 0, fScaleToTargetWidth: true};

            if ((srcwidth <= 0) || (srcheight <= 0) || (targetwidth <= 0) || (targetheight <= 0)) {
                return result;
            }

            // scale to the target width
            var scaleX1 = targetwidth;
            var scaleY1 = (srcheight * targetwidth) / srcwidth;

            // scale to the target height
            var scaleX2 = (srcwidth * targetheight) / srcheight;
            var scaleY2 = targetheight;

            // now figure out which one we should use
            var fScaleOnWidth = (scaleX2 > targetwidth);
            if (fScaleOnWidth) {
                fScaleOnWidth = fLetterBox;
            }
            else {
                fScaleOnWidth = !fLetterBox;
            }

            if (fScaleOnWidth) {
                result.width = Math.floor(scaleX1);
                result.height = Math.floor(scaleY1);
                result.fScaleToTargetWidth = true;
            }
            else {
                result.width = Math.floor(scaleX2);
                result.height = Math.floor(scaleY2);
                result.fScaleToTargetWidth = false;
            }
            result.targetleft = Math.floor((targetwidth - result.width) / 2);
            result.targettop = Math.floor((targetheight - result.height) / 2);

            return result;
        }

        function OnImageLoad(evt) {

            var img = evt.currentTarget;

            // what's the size of this image and it's parent
            var w = $(img).width();
            var h = $(img).height();
            var tw = $(img).parent().width();
            var th = $(img).parent().height();

            // compute the new size and offsets
            var result = ScaleImage(w, h, tw, th, false);

            // adjust the image coordinates and size
            img.width = result.width;
            img.height = result.height;
            $(img).css("left", result.targetleft);
            $(img).css("top", result.targettop);
        }
        /*]]>*/
    </script>
</div>

</body>
</html>

