<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <title layout:fragment="title">Dashboard - Ace Admin</title>

    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- basic styles -->

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>

    <!--[if IE 7]>
    <link rel="stylesheet" th:href="@{/css/font-awesome-ie7.min.css}"/>
    <![endif]-->
</head>

<body>
<div layout:include="common/banner :: banner"></div>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>

        <div layout:include="common/menu :: menu"></div>
        <div layout:fragment="content"></div>

    </div>
    <!-- /.main-container-inner -->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.jQuery || document.write("<script src='/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    /*]]>*/
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    window.jQuery || document.write("<script src='/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
    /*]]>*/
</script>
<![endif]-->

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    if ("ontouchend" in document) document.write("<script src='/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    /*]]>*/
</script>

<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/typeahead-bs2.min.js}"></script>

<div layout:fragment="script"></div>

<!-- ace scripts -->

<script th:src="@{/js/ace-elements.min.js}"></script>
<script th:src="@{/js/ace.min.js}"></script>

<!-- inline scripts related to this page -->

</body>
</html>