<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="template">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="#{label.addnewmenu}"></title>

    <!-- ace styles -->

    <link rel="stylesheet" th:href="@{/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-skins.min.css}"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/css/ace-ie.min.css}"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script th:src="@{/js/ace-extra.min.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script th:href="@{/js/html5shiv.js}"></script>
    <script th:href="@{/js/respond.min.js}"></script>
    <![endif]-->
</head>
<body>

<div layout:fragment="content">
    <div class="main-content">

        <div th:include="common/content/breadcrumbs :: header (label1=#{label.menu}, label2=#{label.addnewmenu})"></div>
        <!--/.breadcrumbs-->

        <div class="page-content">

            <div th:include="common/content/pageheader :: header (label1=#{label.menu}, label2=#{label.addnewmenu})"></div>
            <!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="row">
                        <div class="col-sm-4">
                            <h4>Category</h4>
                            <div class="dd" id="nestable">
                                <ol class="dd-list">
                                    <li class="dd-item" data-id="1">
                                        <div class="dd-handle">
                                            Item 1
                                            <i class="pull-right bigger-130 icon-warning-sign orange2"></i>
                                        </div>
                                    </li>

                                    <li class="dd-item" data-id="2">
                                        <div class="dd-handle">Item 2</div>

                                        <ol class="dd-list">
                                            <li class="dd-item" data-id="3">
                                                <div class="dd-handle">
                                                    Item 3
                                                    <a data-rel="tooltip" data-placement="left" title="Change Event Date" href="#" class="badge badge-primary radius-5 tooltip-info pull-right white no-hover-underline">
                                                        <i class="bigger-120 icon-calendar"></i>
                                                    </a>
                                                </div>
                                            </li>

                                            <li class="dd-item" data-id="4">
                                                <div class="dd-handle">
                                                    <span class="orange">Item 4</span>
																<span class="lighter grey">
																	&nbsp; with some description
																</span>
                                                </div>
                                            </li>

                                            <li class="dd-item" data-id="5">
                                                <div class="dd-handle">
                                                    Item 5
                                                    <div class="pull-right action-buttons">
                                                        <a class="blue" href="#">
                                                            <i class="icon-pencil bigger-130"></i>
                                                        </a>

                                                        <a class="red" href="#">
                                                            <i class="icon-trash bigger-130"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                                <ol class="dd-list">
                                                    <li class="dd-item item-orange" data-id="6">
                                                        <div class="dd-handle"> Item 6 </div>
                                                    </li>

                                                    <li class="dd-item item-red" data-id="7">
                                                        <div class="dd-handle">Item 7</div>
                                                    </li>

                                                    <li class="dd-item item-blue2" data-id="8">
                                                        <div class="dd-handle">Item 8</div>
                                                    </li>
                                                </ol>
                                            </li>

                                            <li class="dd-item" data-id="9">
                                                <div class="dd-handle btn-yellow no-hover">Item 9</div>
                                            </li>

                                            <li class="dd-item" data-id="10">
                                                <div class="dd-handle">Item 10</div>
                                            </li>
                                        </ol>
                                    </li>

                                    <li class="dd-item" data-id="11">
                                        <div class="dd-handle">
                                            Item 11
														<span class="sticker">
															<span class="label label-success arrowed-in">
																<i class="icon-ok bigger-110"></i>
															</span>
														</span>
                                        </div>
                                    </li>

                                    <li class="dd-item" data-id="12">
                                        <div class="dd-handle">Item 12</div>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <!--<div class="vspace-sm-16"></div>-->

                        <div class="col-sm-8">
                            <h4>Create a new menu</h4>
                            <div class="dd dd-draghandle">
                                <ol class="dd-list">
                                    <li class="dd-item dd2-item" data-id="13">
                                        <div class="dd-handle dd2-handle">
                                            <i class="normal-icon icon-comments blue bigger-130"></i>

                                            <i class="drag-icon icon-move bigger-125"></i>
                                        </div>
                                        <div class="dd2-content">Click on an icon to start dragging</div>
                                    </li>

                                    <li class="dd-item dd2-item" data-id="14">
                                        <div class="dd-handle dd2-handle">
                                            <i class="normal-icon icon-time pink bigger-130"></i>

                                            <i class="drag-icon icon-move bigger-125"></i>
                                        </div>
                                        <div class="dd2-content">Recent Posts</div>
                                    </li>

                                    <li class="dd-item dd2-item" data-id="15">
                                        <div class="dd-handle dd2-handle">
                                            <i class="normal-icon icon-signal orange bigger-130"></i>

                                            <i class="drag-icon icon-move bigger-125"></i>
                                        </div>
                                        <div class="dd2-content">Statistics</div>

                                        <ol class="dd-list">
                                            <li class="dd-item dd2-item" data-id="16">
                                                <div class="dd-handle dd2-handle">
                                                    <i class="normal-icon icon-user red bigger-130"></i>

                                                    <i class="drag-icon icon-move bigger-125"></i>
                                                </div>
                                                <div class="dd2-content">Active Users</div>
                                            </li>

                                            <li class="dd-item dd2-item dd-colored" data-id="17">
                                                <div class="dd-handle dd2-handle btn-info">
                                                    <i class="normal-icon icon-edit bigger-130"></i>

                                                    <i class="drag-icon icon-move bigger-125"></i>
                                                </div>
                                                <div class="dd2-content btn-info no-hover">Published Articles</div>
                                            </li>

                                            <li class="dd-item dd2-item" data-id="18">
                                                <div class="dd-handle dd2-handle">
                                                    <i class="normal-icon icon-eye-open green bigger-130"></i>

                                                    <i class="drag-icon icon-move bigger-125"></i>
                                                </div>
                                                <div class="dd2-content">Visitors</div>
                                            </li>
                                        </ol>
                                    </li>

                                    <li class="dd-item dd2-item" data-id="19">
                                        <div class="dd-handle dd2-handle">
                                            <i class="normal-icon icon-reorder blue bigger-130"></i>

                                            <i class="drag-icon icon-move bigger-125"></i>
                                        </div>
                                        <div class="dd2-content">Menu</div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.page-content -->
    </div><!-- /.main-content -->
</div>

<div layout:fragment="script">
    <!-- page specific plugin scripts -->

    <script th:src="@{/js/jquery.nestable.min.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            $("#nav-menu").attr("class", "active open");
            $("#nav-menuadd").attr("class", "active");

            $('.dd').nestable();

            $('.dd-handle a').on('mousedown', function(e){
                e.stopPropagation();
            });

        });
    </script>
</div>

</body>
</html>

