<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="template">
<head lang="en">
    <meta charset="UTF-8"/>
    <title th:text="#{label.addnewmenu}"></title>

    <!-- ace styles -->

    <link rel="stylesheet" th:href="@{/css/ace.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-rtl.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ace-skins.min.css}"/>

    <!--[if lte IE 8]>
    <link rel="stylesheet" th:href="@{/css/ace-ie.min.css}"/>
    <![endif]-->

    <link rel="stylesheet" th:href="@{/js/jquery-ui-1.10.3.custom.min.css}"/>

    <style>
        #sortable1 {
            list-style-type: none;
            margin: 8px;
            float: left;
            padding: 20px;
            width: auto;
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.03);
            border: 1px solid rgba(0, 0, 0, 0.06);
            border-radius: 0;
        }

        #sortable1 li {
            background: none repeat scroll 0 0 rgba(0, 0, 0, 0.08);
            margin: 2px 2px 2px 2px;
            padding: 5px;
            float: left;
            /*width: 190px;*/
            /*height: 2500px;*/
            font-size: 1.2em;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 0;
        }

        #sortable2, #sortable3 {
            border: 1px solid #eee;
            width: 142px;
            min-height: 20px;
            list-style-type: none;
            margin: 0;
            padding: 5px 0 0 0;
            float: left;
            margin-right: 10px;
        }
        #sortable2 li, #sortable3 li {
            margin: 0 5px 5px 5px;
            padding: 5px;
            font-size: 1.2em;
            width: 120px;
        }

    </style>

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script th:src="@{/js/ace-extra.min.js}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script th:href="@{/js/html5shiv.js}"></script>
    <script th:href="@{/js/respond.min.js}"></script>
    <![endif]-->
    <style>
        .crop {
            width: 190px;
            height: 250px;
            overflow: hidden;
            position: relative;
        }
    </style>
</head>
<body>

<div layout:fragment="content">

    <div th:include="common/content/breadcrumbs :: header (label1=#{label.menu}, label2=#{label.addnewmenu})"></div>
    <!--/.breadcrumbs-->

    <div class="page-content">

        <div th:include="common/content/pageheader :: header (label1=#{label.menu}, label2=#{label.addnewmenu})"></div>
        <!-- /.page-header -->

        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-header widget-header-blue widget-header-flat">
                        <h4 class="lighter">Create a menu</h4>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="fuelux-wizard" class="row-fluid" data-target="#step-container">
                                <ul class="wizard-steps">
                                    <li data-target="#step1" class="active">
                                        <span class="step">1</span>
                                        <span class="title">Dishes</span>
                                    </li>

                                    <li data-target="#step2">
                                        <span class="step">2</span>
                                        <span class="title">Quantities</span>
                                    </li>

                                    <li data-target="#step3">
                                        <span class="step">3</span>
                                        <span class="title">Menu Info</span>
                                    </li>

                                    <li data-target="#step4">
                                        <span class="step">4</span>
                                        <span class="title">Finish</span>
                                    </li>
                                </ul>
                            </div>

                            <hr/>
                            <div class="step-content row-fluid position-relative" id="step-container">
                                <div class="step-pane active" id="step1">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <!-- PAGE CONTENT BEGINS -->

                                            <h3 class="lighter block green">Drag and drop to the place you want to put
                                                your dishes</h3>

                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <h4>Dishes</h4>

                                                    <ul id="sortable1" class="droptrue sortable"
                                                        style="height:35em; overflow:auto;">
                                                        <li class="ui-state-default" th:each="dish : ${dishes}"
                                                            th:id="${dish.id}">
                                                            <div class="crop">
                                                                <img th:each="file : ${dish.files}" alt="1	50x150"
                                                                     th:src="'/' + ${file.location} + '' + ${file.name}" onload="OnImageLoad(event);"/>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="col-sm-4">
                                                    <h4>Drop in your wished section</h4>

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h5>First dish</h5>
                                                            <ul id="sortable2" class="droptrue sortable menu">
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h5>Main course</h5>
                                                            <ul id="sortable3" class="droptrue sortable menu">
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <h5>Dessert</h5>
                                                            <ul id="sortable4" class="droptrue sortable menu">
                                                            </ul>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <h5>Drinks</h5>
                                                            <ul id="sortable5" class="droptrue sortable menu">
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- PAGE CONTENT ENDS -->
                                        </div>
                                        <!-- /.col -->
                                    </div>
                                    <!-- /.row -->
                                </div>

                                <div class="step-pane" id="step2">

                                    <form class="form-horizontal" role="form">
                                        <h3 class="lighter block green">Menu's information</h3>

                                        <div class="form-group">
                                            <label for="menuName"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right">Menu
                                                Name</label>

                                            <div class="col-xs-12 col-sm-5">
																		<span class="block input-icon input-icon-right">
																			<input type="text" id="menuName"
                                                                                   class="width-100"/>
																		</span>
                                            </div>
                                            <div class="help-block col-xs-12 col-sm-reset inline">
                                                Warning tip help!
                                            </div>
                                        </div>


                                        <h3 class="lighter block green">Choose your dish's quantities</h3>

                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="widget-box center">
                                                    <div class="widget-header">
                                                        <h4>First dish</h4>
                                                    </div>

                                                    <div class="widget-body">
                                                        <div class="widget-main">
                                                            <label for="dish1">Dish1</label>
                                                            <span></span>
                                                            <input type="text" class="input-mini dish" id="dish1"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget-box center">
                                                    <div class="widget-header">
                                                        <h4>First dish</h4>
                                                    </div>

                                                    <div class="widget-body">
                                                        <div class="widget-main">
                                                            <label for="dish2">Dish2</label>
                                                            <span></span>
                                                            <input type="text" class="input-mini dish" id="dish2"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <div class="widget-box center">
                                                    <div class="widget-header">
                                                        <h4>First dish</h4>
                                                    </div>

                                                    <div class="widget-body">
                                                        <div class="widget-main">
                                                            <label for="dish1">Dish3</label>
                                                            <span></span>
                                                            <input type="text" class="input-mini dish" id="dish3"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget-box center">
                                                    <div class="widget-header">
                                                        <h4>First dish</h4>
                                                    </div>

                                                    <div class="widget-body">
                                                        <div class="widget-main">
                                                            <label for="dish4">Dish1</label>
                                                            <span></span>
                                                            <input type="text" class="input-mini dish" id="dish4"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>


                                </div>

                                <div class="step-pane" id="step3">
                                    <h3 class="blue lighter">Menu's receipt</h3>

                                    <form class="form-horizontal" role="form">

                                        <div class="form-group">
                                            <label for="menuName"
                                                   class="col-xs-12 col-sm-3 control-label no-padding-right">Menu
                                                Name</label>

                                            <div class="col-xs-12 col-sm-5">
																		<span class="block input-icon input-icon-right">
																			<input type="text" id="menuName"
                                                                                   class="width-100"/>
																		</span>
                                            </div>
                                            <!--<div class="help-block col-xs-12 col-sm-reset inline">-->
                                                <!--Warning tip help!-->
                                            <!--</div>-->
                                        </div>
                                    </form>
                                </div>

                                <div class="step-pane" id="step4">
                                    <div class="center">
                                        <h3 class="green">Congrats!</h3>
                                        Your menu has been added! Click finish to continue!
                                    </div>
                                </div>
                            </div>

                            <hr/>
                            <div class="row-fluid wizard-actions">
                                <button class="btn btn-prev">
                                    <i class="icon-arrow-left"></i>
                                    Prev
                                </button>

                                <button class="btn btn-success btn-next" data-last="Finish ">
                                    Next
                                    <i class="icon-arrow-right icon-on-right"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /widget-main -->
                    </div>
                    <!-- /widget-body -->
                </div>
            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
    </div>
    <!-- /.page-content -->
</div>
<!-- /.main-content -->

<div layout:fragment="script">
    <!-- page specific plugin scripts -->
    <script th:src="@{/js/jquery-ui-1.10.3.custom.min.js}"></script>
    <script th:src="@{/js/jquery.validate.min.js}"></script>
    <script th:src="@{/js/fuelux/fuelux.wizard.min.js}"></script>
    <script th:src="@{/js/bootbox.min.js}"></script>
    <script th:src="@{/js/additional-methods.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.10.3.full.min.js}"></script>
    <script th:src="@{/js/jquery.ui.touch-punch.min.js}"></script>
    <script th:src="@{/js/fuelux/fuelux.spinner.min.js}"></script>

    <script th:inline="javascript">
        $(document).ready(function () {
            $("#nav-menu").attr("class", "active open");
            $("#nav-menuadd").attr("class", "active");

            $("ul.droptrue").sortable({
                connectWith: "ul"
            });
            $("#sortable1, #sortable2").disableSelection();

            /*<![CDATA[*/
            jQuery(function ($) {

                $('[data-rel=tooltip]').tooltip();

                $('#fuelux-wizard').ace_wizard().on('change', function (e, info) {
                    // wizard operation

                }).on('finished', function (e) {
                    bootbox.dialog({
                        message: "Thank you! Your information was successfully saved!",
                        buttons: {
                            "success": {
                                "label": "OK",
                                "className": "btn-sm btn-primary"
                            }
                        }
                    });
                }).on('stepclick', function (e) {
                    //return false;//prevent clicking on steps
                });

                //spinner
                $('.dish').ace_spinner({
                    value: 0,
                    min: -100,
                    max: 100,
                    step: 1,
                    on_sides: true,
                    icon_up: 'icon-plus smaller-75',
                    icon_down: 'icon-minus smaller-75',
                    btn_up_class: 'btn-success',
                    btn_down_class: 'btn-danger'
                });
            });
        });

        function ScaleImage(srcwidth, srcheight, targetwidth, targetheight, fLetterBox) {

            var result = { width: 0, height: 0, fScaleToTargetWidth: true };

            if ((srcwidth <= 0) || (srcheight <= 0) || (targetwidth <= 0) || (targetheight <= 0)) {
                return result;
            }

            // scale to the target width
            var scaleX1 = targetwidth;
            var scaleY1 = (srcheight * targetwidth) / srcwidth;

            // scale to the target height
            var scaleX2 = (srcwidth * targetheight) / srcheight;
            var scaleY2 = targetheight;

            // now figure out which one we should use
            var fScaleOnWidth = (scaleX2 > targetwidth);
            if (fScaleOnWidth) {
                fScaleOnWidth = fLetterBox;
            }
            else {
                fScaleOnWidth = !fLetterBox;
            }

            if (fScaleOnWidth) {
                result.width = Math.floor(scaleX1);
                result.height = Math.floor(scaleY1);
                result.fScaleToTargetWidth = true;
            }
            else {
                result.width = Math.floor(scaleX2);
                result.height = Math.floor(scaleY2);
                result.fScaleToTargetWidth = false;
            }
            result.targetleft = Math.floor((targetwidth - result.width) / 2);
            result.targettop = Math.floor((targetheight - result.height) / 2);

            return result;
        }

        function OnImageLoad(evt) {

            var img = evt.currentTarget;

            // what's the size of this image and it's parent
            var w = $(img).width();
            var h = $(img).height();
            var tw = $(img).parent().width();
            var th = $(img).parent().height();

            // compute the new size and offsets
            var result = ScaleImage(w, h, tw, th, false);

            // adjust the image coordinates and size
            img.width = result.width;
            img.height = result.height;
            $(img).css("left", result.targetleft);
            $(img).css("top", result.targettop);
        }
        /*]]>*/
    </script>
</div>

</body>
</html>

