<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="template">
<head>
    <title th:text="#{label.adddish}"></title>
</head>
<body>
<div layout:fragment="content">
    <div th:include="common/content/breadcrumbs :: header (label1=#{label.dishes}, label2=${title})"></div>
    <!--/.breadcrumbs-->

    <div class="page-content">
        <div th:include="common/content/pageheader :: header (label1=#{label.dishes}, label2=${title})"></div>
        <!-- /.page-header -->

        <div class="row">
            <!-- PAGE CONTENT BEGINS -->

            <div class="col-sm-12" id="alert-success" th:if="${show_alert}">
                <div class="alert alert-block alert-success">
                    <button data-dismiss="alert" class="close" type="button">
                        <i class="icon-remove"></i>
                    </button>

                    <p>
                        <strong>
                            <i class="icon-ok"></i>
                            Well done!
                        </strong>
                        You successfully add a dish.
                    </p>
                </div>
            </div>

            <div class="space-6"></div>

            <div class="col-sm-10 col-sm-offset-1">
                <div class="widget-box transparent invoice-box">
                    <div class="widget-header widget-header-large">
                        <h3 class="grey lighter pull-left position-relative">
                            <i class="icon-leaf green"></i>
                            Dish Invoice
                        </h3>

                        <div class="widget-toolbar no-border invoice-info">
                            <span class="invoice-info-label">Dish No:</span>
                            <span class="red" th:text="${dish.id}"></span>

                            <br/>
                            <span class="invoice-info-label">Date:</span>
                            <span class="blue" th:text="${#dates.createNow()}">03/03/2013</span>
                        </div>

                        <div class="widget-toolbar hidden-480">
                            <a href="#">
                                <i class="icon-print"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-24">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-xs-11 label label-lg label-info arrowed-in arrowed-right">
                                            <b>Dish Info</b>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <ul class="list-unstyled spaced">
                                            <li>
                                                <i class="icon-caret-right blue"></i>
                                                Dish Name:
                                                <b th:text="${dish.name}"></b>
                                            </li>

                                            <li>
                                                <i class="icon-caret-right blue"></i>
                                                Price:
                                                <b th:text="${dish.price}"></b>
                                                $
                                            </li>

                                            <li>
                                                <i class="icon-caret-right blue"></i>
                                                Description:
                                                <b th:text="${dish.description}"></b>
                                            </li>

                                            <li>
                                                <i class="icon-caret-right blue"></i>
                                                Start date:
                                                <b th:text="${dish.start_date} != null ? ${#dates.format(dish.start_date, 'dd/MMM/yyyy')} : '-'"></b>
                                            </li>

                                            <li>
                                                <i class="icon-caret-right blue"></i>
                                                End date:
                                                <b th:text="${dish.end_date} != null ? ${#dates.format(dish.end_date, 'dd/MMM/yyyy')} : '-'"></b>
                                            </li>

                                            <li>
                                                <i class="icon-caret-right blue"></i>
                                                Start time:
                                                <b th:text="${dish.start_time} != null ? ${#dates.format(dish.start_time, 'HH:mm')} : '-'"></b>
                                            </li>

                                            <li>
                                                <i class="icon-caret-right blue"></i>
                                                End time:
                                                <b th:text="${dish.end_time} != null ? ${#dates.format(dish.end_time, 'HH:mm')} : '-'"></b>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /span -->

                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-xs-11 label label-lg label-success arrowed-in arrowed-right">
                                            <b>Dish Image</b>
                                        </div>
                                    </div>

                                    <div class="col-md-offset-3">
                                        <ul class="ace-thumbnails">
                                            <li>
                                                <a title="Photo Title"
                                                   data-rel="colorbox">

                                                    <img th:each="file : ${dish.files}" alt="1	50x150"
                                                         th:src="'/' + ${file.location} + '' + ${file.name}"
                                                         width="220" height="320"/>

                                                    <div class="tags">
													<span class="label-holder" th:each="tag : ${dish.types}">

                                                        <div th:switch="${tag.name}">
                                                            <span class="label label-info" th:case="'plat'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-danger" th:case="'dessert'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-success" th:case="'drink'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-warning" th:case="'entree'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="label label-warning arrowed-in"
                                                                  th:case="'choix de chef'"
                                                                  th:text="${tag.description}"></span>
                                                            <span class="" th:case="'all_data'"></span>
                                                            <span class="label label-purple arrowed-in" th:case="*"
                                                                  th:text="${tag.description}"></span>
                                                        </div>
													</span>

                                                    </div>
                                                </a>

                                                <div class="center"><p th:text="${dish.name}"></p></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /span -->
                            </div>
                            <!-- row -->

                            <div class="space"></div>

                            <div>
                                <h4>You can do next: </h4>

                                <p>
                                    <a th:href="@{/dish/add}" class="btn btn-yellow">
                                        Continue add
                                    </a>
                                    <a th:href="@{/dish}" class="btn btn-primary">
                                        List all Menu
                                    </a>
                                    <a th:href="@{'/dish/edit/' + ${dish.id}}" class="btn btn-danger">
                                        Modify
                                    </a>
                                </p>
                            </div>

                            <div class="space"></div>

                            <div>
                                <h4>You can also do: </h4>

                                <p>
                                    <a href="#" class="btn btn-warning">
                                        <i class="icon-pencil align-top bigger-125"></i>
                                        Edit type and option
                                    </a>

                                    <a href="#" class="btn btn-success">
                                        <i class="icon-glass align-top bigger-125"></i>
                                        Add to Menu
                                    </a>

                                    <a href="#" class="btn btn-info">
                                        <i class="icon-bullhorn align-top bigger-125"></i>
                                        Add to Activity
                                    </a>
                                </p>
                            </div>

                            <div class="hr hr8 hr-double hr-dotted"></div>

                            <div class="row">
                                <div class="col-sm-7 pull-left"> Extra Information</div>
                            </div>

                            <div class="space-6"></div>
                            <div class="well">
                                Thank you for choosing iMenu.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PAGE CONTENT ENDS -->
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <div layout:fragment="script">
        <script th:inline="javascript" type="text/javascript">
            window.onload = function () {
                $("#nav-dish").attr("class", "active open");
                $("#nav-adddish").attr("class", "active");
                $("#alert-success").delay(5000).fadeOut(400);
            };
        </script>
    </div>
</div>
</body>
</html>